{
    "verifiedSimpleMethods": [
        "analyzeDocument",
        "analyzeExpense",
        "analyzeID",
        "detectDocumentText",
        "getDocumentAnalysis",
        "getDocumentTextDetection",
        "getExpenseAnalysis",
        "startDocumentAnalysis",
        "startDocumentTextDetection",
        "startExpenseAnalysis"
    ],
    "shapeModifiers": {
        "AddPermissionInput": {
            "modify": [
                {
                    "AWSAccountId": {
                        "emitPropertyName": "AWSAccountIds"
                    },
                    "ActionName": {
                        "emitPropertyName": "ActionNames"
                    }
                }
            ]
        }
    },

    "enableGenerateCompiledEndpointRules": true

}
